<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<div style="padding: 20px">
    <h4 style="padding: 10px">
        <span th:remove="tag">Username: </span>
        <small th:text="${wallet.username}"></small>
    </h4>
    <h4 style="padding: 10px">
        <span th:remove="tag">Address: </span>
        <small th:text="${wallet.publicKey}"></small>
    </h4>
    <h4 style="padding: 10px">
        <span th:remove="tag">Balance: </span>
        <small th:text="${wallet.balance}">Name</small>
    </h4>
</div>

</body>
</html>